Source: python-cjson
Section: python
Priority: optional
Maintainer: Dan Pascu <dan@ag-projects.com>
Build-Depends: debhelper (>= 11), python-all-dev
Standards-Version: 3.9.8

Package: python-cjson
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
Description: Very fast JSON encoder/decoder for Python
 This module provides a very fast implementation of a JSON encoder/decoder
 for the python language.
 .
 The module is written in C and it is up to 250 times faster when compared to
 the other python JSON implementations which are written directly in python.
